.btn{
    position: relative;
    top: 300px;
    /* background-color: red; */
    width: 100px;
    left: 530px;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
.counter{
    position: relative;
    top: 300px;
    width: 100px;
    left: 580px;
    display: inline-block;
    font-size: 2rem;
}
.btn:hover{
    background-color: aliceblue;
}